<h1 class="hackathon-font"><%= title %></h1>
<br>

<form action="/team-registration">
  <button>Register Team</button>
</form>

<br>

<form action="/change-password">
  <button>Change Password</button>
</form>

<br>

<form action="/user/logout">
  <button>Logout</button>
</form>

<br>

<form action="/user/delete-account">
  <button>Delete Account</button>
</form>
