<a class="button" href="/team-registration">Register Team</a><br>
<a class="button" href="/login">Login</a><br>
<a class="button" href="/change-password">Change Password</a><br>
<a class="button" href="/user/logout">Logout</a><br>
<a class="button" href="/user/delete-account">Delete Account</a><br>
