<!-- BOBBY: VALIDATION NEEDED -->
<table border="0" cellspacing="0" cellpadding="0">

  <!-- Header -->
  <tr>
    <td align="center">
      <h1 style="margin: 20px 0px;">Invitation Declined</h1>
      <hr>
    </td>
  </tr>

  <!-- First Section -->
 <tr>
    <td>
    <p style="font-size:12pt">
    This is a message to notify you that {{invitedMember}} has declined your invitation to the team, {{teamName}}. You are receiving this message because our records indicate that you are the Team Leader. If this is a mistake, please let us know at
<a href="https://onyourside.sharepoint.com/sites/Hackathon">our site</a>
      </p>
    </td>
  </tr>

  <!-- Second Section -->
  <tr>
    <td>
      <p style="font-size:9pt">
        Thanks,<br>
        The Hackathon Team
      </p>
    </td>
  </tr>

  <!-- Link to View Team -->
  <!-- Needs correct links (BL) -->
  <tr>
    <td align="center">
          <a href="https://en.wikipedia.org/wiki/HTTP_404" target="_blank" style="margin: 20px 0px; background-color: #353382; border-radius: 3px; color: #ffffff; text-decoration: none; padding: 12px 18px; display: inline-block;"> View Your Team Here</a>
    </td>
  </tr>

  <!-- Footer needs correct links (BL) -->
    <tr>
    <td align="center"><hr>
    <p style="font-size:8px">
         Need assistance? Want to know more about Nationwide's Hackathon? <br>
         Find us at <a href="https://onyourside.sharepoint.com/sites/Hackathon">our SharePoint Online site</a> or follow us on <a href="https://www.yammer.com/nationwide.com/#/threads/inGroup?type=in_group&feedId=6066781">Yammer</a>
      </p>
  </td>
  </tr>
</table>
