<form>
  <p class="error" ng-repeat="(key, value) in $ctrl.error">{{value}}</p>
  <label for="old-password">Old Password</label>
  <input id="old-password" type="password" ng-model="$ctrl.creds.oldPassword">

  <label for="password">New Password</label>
  <input id="password" type="password" ng-model="$ctrl.creds.password">

  <label for="confirm-password">Confirm Password</label>
  <input id="confirm-password" type="password" ng-model="$ctrl.creds.confirmPassword">

  <button ng-click="$ctrl.changePassword()">Change Password</button>
  <p ng-if="$ctrl.message">{{$ctrl.message}}</p>
</form>
