<form>
  <p class="error" ng-repeat="(key, value) in $ctrl.error">{{value}}</p>
  <label>New Password</label>
  <input type="password" ng-model="$ctrl.reset.password">

  <label>Confirm Password</label>
  <input type="password" ng-model="$ctrl.reset.confirmPassword">

  <button ng-click="$ctrl.resetPassword()">Reset Password</button>
  <p ng-if="$ctrl.message">{{$ctrl.message}}</p>
</form>
<br>
<br>
<h5>Password Requirements</h5>
<p>Passwords must be a minimum of 8 characters long and contain 3 of following 4</p>
<ol>
  <li>Lower Case Letter</li>
  <li>Uperr Case Letter</li>
  <li>Number</li>
  <li>Special Character: ! @ # $ % ^ &amp; * ( ) + = . _ - </li>
</ol>
